.main-header {
    margin-bottom: 1rem;
    --input-text-color: white;
}

.main-header input {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--input-text-color);
}

.main-header input::placeholder {
    color: var(--input-text-color);
    opacity: 0.5;
}

.main-header button {
    color: var(--text);
}